/* General drawer */

#drawer {
    position: relative;
    max-height: calc(100% - 2em);
    background-color: #303030;
    padding: 1em;
    overflow-y: auto;
}

.drawer-section {
    border-bottom: solid gray 1px;
    padding: 2px 0;
}

.drawer-title {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    align-items: center;
}

.drawer-title > h3 {
    font-weight: bolder;
    text-transform: capitalize;
    width: 100%;
    text-align: start;
    margin: 0;
}

.drawer-section > .drawer-content > div {
    background-color: #242424;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 2px;
}

.drawer-section-title {
    display: flex;
    align-items: center;
    margin: 2px 0;
    flex-wrap: wrap;
}

.drawer-section-title > div:first-child {
    margin-right: auto;
    text-align: start;
    font-weight: bold;
}

.drawer-section-title > button {
    margin-left: 8px;
}

.drawer-section-description {
    font-size: 14px;
    padding: 4px;
}

/* Test Drawer */

.test-drawer label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-label > strong {
    margin-left: 8px;
}

.test-result {
    all: inherit;
    width: 100%;
    margin: -4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.test-result .test-name {
    font-family: "Fira Code", monospace;
    font-size: 12px;
}

.test-result .test-state {
    font-size: 12px;
    margin-right: 8px;
}

/* Expression drawer */

.exp-watch {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.exp-drawer-control {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.exp-drawer-control > button {
    margin-right: 8px;
}

.exp-watch > * {
    font-family: "Fira Code", monospace;
}

.exp-watch > textarea {
    resize: vertical;
}

.exp-watch > div {
    transition: color 0.5s ease;
    margin-bottom: 12px;
}

.exp-watch > div > .label {
    width: 30%;
    color: white;
    margin-right: 8px;
    background: none;
    border: none;
    font-size: inherit;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.exp-watch > div.error {
    color: orangered;
}

.exp-watch-output {
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
}

/* Memory drawer */

.memory-output {
    font-family: "Fira Code", monospace;
    font-size: 10px;
    white-space: pre-wrap;
    text-align: start;
    line-height: 110%;
}

/* Keys drawer */

.keys-drawer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.keys-drawer > div {
    width: 20%;
    text-align: center;
}

.keys-drawer > button {
    width: 25%;
}
